.supporthub-plugin * {
  box-sizing: border-box;
}

.home-logo-wrapper-outlet {
  flex: 1;
}

.sidebar-sections.supporthub-links {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  padding-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 2;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;
  }

  a,
  a:visited {
    color: inherit;
  }
}
